/* Global */
*{margin:0;padding:0;}
body{
	width: 100%;
	height: auto;
    background: #282923;

    position: relative;
}

/* form content */
#myform_ncb{
	border: 1px solid #6D6E6A;
	width: 320px;
	margin: 0 auto;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%-50%);
}